.Container-Main {
    display: flex;
    min-height: 90%;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #212230;
    padding: 20px;
    
}

.Score-Board {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 10px;
    height: 20%;
}

.Container-Cards {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    
}

img {
    width: 200px;
    height: 200px;
    border: 4px solid #191A24;  
    border-radius: 10px;
}

